body {
    margin: 0;
    padding: 0;
}

#content {
    max-width: 400px;
    /*margin: auto;*/
    margin: 0 auto;
    left: 1%;
    right: 1%;
    position: center;
}
/*#articles p{*/
/*    width: 50%;*/
/*    !* height: 600px ; *!*/
/*    float: right;*/
/*}*/


/* ~~ Top Navigation Bar ~~ */

/* #navigation-container {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
}

.navigation-bar {
    background-color: grey;
    height: 70px;
    width: 100%;
    display: flex;
    text-align:center;
    animation-name: example;
    animation-duration: 1.3s;
} */

.container-header {
    height: 70px;
    background-color: grey;
    color: white;
    position:fixed;
    top:0;
    width: 100%;
  }
  
  
  .logo {
    
  }
  
.nav-header ul{
   list-style: none;
  }    
  
.nav-header> ul li a{
    display: block;
    padding: 10px 80px 0 10px;
    font-size: 20px;
    text-decoration: none;
   }    
  
.nav-header > ul{
    width: 60%;
    display: flex;
    justify-content: center;
   }    
  
.nav-header li ul{
    position: relative;
    left: -20px;
    margin-top: 12px;
    max-width: 200px;
    margin-right: -100px;
    font-size: large;
   }    
  
   .nav-header li > ul li{
    border-top: 1px solid #c7c8ca;
   }    
  
   .nav-header li > ul li a{
    padding: 10px;
    text-transform: none;
    background: grey;
   }   

/*hover menu*/
.nav-header li:hover > ul{
    display: block;
   }    
  
  

/*No working animation with logo*/
.logo{
    padding: 10px;
    margin-left: 1200px;
    position:fixed;
    /*Animation*/
    animation: shake 0.5s;

    animation-duration: 10s;
}
@keyframes shake {
    0% { transform: translate(3px, 3px) rotate(0deg); }
    10% { transform: translate(-3px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(3px, -3px) rotate(1deg); }
    50% { transform: translate(-3px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 3px) rotate(0deg); }
    70% { transform: translate(3px, 3px) rotate(-1deg); }
    80% { transform: translate(-3px, -3px) rotate(1deg); }
    90% { transform: translate(3px, 2px) rotate(0deg); }
    100% { transform: translate(3px, -2px) rotate(-1deg); }
}


/* .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
}

.navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}

.navigation-bar li a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
}*/ 



/* Change color on hover */
.container-header a:hover {
    background-color: lightgrey;
    color: black;
}

/* Active/current link */
.container-header a.active {
    background-color: slategrey;
    color: white;
}



/*#animation {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    position: relative;*/
/*    background-color: red;*/
/*    animation-name: example;*/
/*    animation-duration: 1.3s;*/
/*}*/

@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:grey; left:75px; top:0px;}
    50%  {background-color:red; left:75px; top:75px;}
    75%  {background-color:grey; left:0px; top:75px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* ~~ Photo ~~ */
.photo{
    float: bottom;
    width: 100%;
    height: 800px;
    margin-top: 30px;
    
    text-align: center;
    color: white;
}

/* Centered text */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px
}

.photo img {
    width: 100%;
    height:800px;
    object-fit: cover;
    animation: photo_img 2s ease-out ;

}
@keyframes photo_img {
    0%{
        opacity: 0%;
    }
    40%{
        opacity: 40%;
    }
    70%{
        opacity: 70%;
    }
    100%{
        opacity: 100%;
    }
}





/* ~~ Footer ~~ */

.footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background: grey;
}