body {
    margin: 0;
    padding: 0;
    color: #F5F7Fa;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER  */
#nav {
    list-style:none inside;
    margin:0;
    padding:0;
    text-align:center;
}
#nav li {
    display:block;
    position:relative;
    float:left;
    background: grey; /* menu background color */
}

#nav li a {
    display:block;
    padding:10px;
    text-decoration:none;
    width:100px; /* this is the width of the menu items */
    line-height:50px; /* this is the hieght of the menu items */
    color:white; /* list item font color */
}
#nav li li a {font-size:80%;} /* smaller font size for sub menu items */
#nav li:hover {background:darkgrey;} /* highlights current hovered list item and the parent list items when hovering over sub menues */
#nav ul {
    position:absolute;
    padding:0;
    left:0;
    display:none; /* hides sublists */
}
#nav li:hover ul ul {display:none;} /* hides sub-sublists */
#nav li:hover ul {display:block;} /* shows sublist on hover */
#nav li li:hover ul {
    display:block; /* shows sub-sublist on hover */
    margin-left:200px; /* this should be the same width as the parent list item */
    margin-top:-35px; /* aligns top of sub menu with top of list item */
}
/* HEADER ----------------------------- */

header{
    height: 90px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: grey;
}
.logo{
    height: 100px;
    cursor: pointer;
    animation: shake 0.5s;
    padding-top: 20px;
    animation-duration: 10s;
}

.logo img{
    height: 50px;
    margin-left: 500px;
}

/*main*/
main{
    margin-top: 0px;
    width: 100%;
    
}

.photo{
    margin-top: 0px;
}

/*history*/
.history{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 61.5%;
    height: 650px;
    border-bottom: 5px solid #1100ff;
    border-top: 5px solid #1100ff ;   
     padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.history h1{
    color: #1100ff;
    font-size: 42px;
    font-weight: 600;
    }

.history p{
    color: black;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 20px;
    
}

/*  Photo  */
.photo{
    width: 100%;
    height: 800px;
    background-image: url(../photo/stadium.jpg);
    color: white;
}
.photo h1{
    padding-top: 300px;
    vertical-align: middle;
    text-align: center;
    font-size: 62px;
    color: #1100ff;
    font-weight: 700;
    margin-top: 0px;
}

/* Centered text */


.photo img {
    width: 100%;
    height:800px;
    object-fit: cover;
    animation: photo_img 2s ease-out ;

}
@keyframes photo_img {
    0%{
        opacity: 0%;
    }
    40%{
        opacity: 40%;
    }
    70%{
        opacity: 70%;
    }
    100%{
        opacity: 100%;
    }
}
/*  Business  */

.business-model{
    height: 610px;
    width: 100%;
}

.business-model h1{
    margin-top: 105px;
    text-align: center;

    font-style: normal;
    font-weight: 600;
    font-size: 51px;


    align-items: center;
    color: #000000;
}

.business-model-block{
    margin-top: 20px;
    border: 5px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.business-model-list{
    height: 450px;
    width: 361px;
    text-align: center;
    margin-top: 91px;
    margin-right: 28px;
    background: #FFFFFF;
    border-bottom: 5px solid #1100ff;
    border-top: 5px solid #1100ff ;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}

.business-model-list h3{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    padding-top: 39px;
    color: #000000;
}

.business-model-list h4{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding-top: 12px;
    color: #000000;
}

.img_business{
    height: 180px;
    width: 300px;
    padding-top: 68px;
}


/*  Footer  */

.footer {
    /*position: fixed;*/
    margin-top: 120px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
    height: 100px;
    background: grey;
}
.footer h2{
    padding: 30px;
    font-size: 22px;
    
}

/*#articles p{*/
/*    width: 50%;*/
/*    !* height: 600px ; *!*/
/*    float: right;*/
/*}*/


/*  Top Navigation Bar  */

/* #navigation-container {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
}