body {
    margin: 0;
    padding: 0;
    color: #F5F7Fa;
    font-family: 'Montserrat', sans-serif;
}



header{
    height: 100px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: grey;
    
    
}
.logo{
    margin-right: 250px;
    height: 10px;
    cursor: pointer;
    justify-content: center;

    animation: shake 0.5s;
    padding-top: 20px;
    animation-duration: 10s;
    
    
}

.logo img{
    height: 50px;
   
    
}

nav{
    height: 100%;
    width: 100%;
    display: block;
}

   
.nav_links{
    
margin-left: 250px;
    
}

.nav_links li{
    display: inline-block;
  
   
    
}
.nav_links li ul{

display: flex;
justify-content: center;
margin-top: 12px;
max-width: 200px;

font-size: large;
}
.nav_links li > ul li{
    border-top: 1px solid #c7c8ca;
   }    
  
   .nav_links li > ul li a{
   
    text-transform: none;
  
   }    
.nav_links ul li a{
   display: block;
   
   padding: 15px 30px 0px 0px;
   font-size: 20px;
   color: #0f0fe4;
   text-decoration: none;
}

.nav_links li ul{
    
    display: none;
   } 
  
   .nav_links li:hover > ul{
    display: block;
    
   }    



.nav_links li a{
    transition: all 0.3s ease 0s;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
    
}

.nav_links li a:hover{
    color: rgba(252, 252, 135, 0.76);
}

.admin{
    
}
button {
    color: black;
    margin-left: 20px;
    padding: 9px 25px;
    background-color:rgba(78, 10, 10, 0.76) ;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

button:hover{
    background-color:rgba(252, 252, 135, 0.76);
}

li {
    display: block;
    transition-duration: 0.5s;
   }
   
   li:hover {
     cursor: pointer;
   }
   
   ul li ul {
     visibility: hidden;
     opacity: 0;
     position: absolute;
     transition: all 0.5s ease;
     margin-top: 1rem;
     left: 0;
     display: none;
   }
   
   ul li:hover > ul,
   ul li ul:hover {
     visibility: visible;
     opacity: 1;
     display: block;
   }
   
   ul li ul li {
     clear: both;
     width: 100%;
   }

/*main*/
main{
    margin-top: 0px;
    width: 100%;
    
}

.photo{
    margin-top: 0px;
}

/*history*/
.history{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 61.5%;
    height: 560px;
    border-bottom: 5px solid #1100ff;
    border-top: 5px solid #1100ff ;   
     padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.history h1{
color: #1100ff;
font-size: 42px;
font-weight: 600;
}

.history p{
    color: black;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 20px;
    
}
/*hover menu*/

  
  

/*No working animation with logo*/



/* .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
}

.navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}

.navigation-bar li a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
}*/ 



/* Change color on hover */



/*#animation {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    position: relative;*/
/*    background-color: red;*/
/*    animation-name: example;*/
/*    animation-duration: 1.3s;*/
/*}*/



/*  Photo  */
.photo{
    width: 100%;
    height: 800px;
    
    background-image: url(../photo/stadium.jpg);
    color: white;
}
.photo h1{
    padding-top: 300px;
    vertical-align: middle;
  text-align: center;
    font-size: 62px;
    color: #1100ff;
    font-weight: 700;
    margin-top: 0px;
}

/* Centered text */


.photo img {
    width: 100%;
    height:800px;
    object-fit: cover;
    animation: photo_img 2s ease-out ;

}
@keyframes photo_img {
    0%{
        opacity: 0%;
    }
    40%{
        opacity: 40%;
    }
    70%{
        opacity: 70%;
    }
    100%{
        opacity: 100%;
    }
}





/*  Footer  */

.footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
    height: 100px;
    background: grey;
}
.footer h2{
    font-size: 22px;
    
}

/*#articles p{*/
/*    width: 50%;*/
/*    !* height: 600px ; *!*/
/*    float: right;*/
/*}*/


/*  Top Navigation Bar  */

/* #navigation-container {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
}